@font-face {
  font-family: Visitor;
  src: url(/static/fonts/visitor1.ttf);
}

body {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  font-family: Visitor;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
  min-height: 100%;
  background-color: #5F574F; 
  flex: 0 1 auto;
  
  width: 900px;
}


header, footer {
  display: flex;
  flex-direction: column;
  height: 2rem;
  padding: 0.05rem 0.5rem;
  background-color: #FF004D;
}

header nav {
  display: inherit;
  
  padding-top: 0.2rem;
}

header nav>a,
header nav>a:active, 
header nav>a:focus, 
header nav>a:visited {
  color: #1D2B53;
}

header nav>a:hover {
  color: #FFCCAA;
}

header h1 {
  display: inline-block;
  margin-top: -0.25rem;
  margin-bottom: 0;
  color: #1D2B53;
  flex: 1 0 100%;
  text-align: center;
}

article {
  min-height: 100%;
  padding: 0.5rem;
  color: #C2C3C7;
}

.icon {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}


.homepage-article-container {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  flex-wrap: wrap;
}

.homepage-article {
  background-color: #7E2553;
  width: 282px;
  margin: 2px;
  margin-bottom: 2rem;
  //padding: 2px;
  border: 4px solid #7E2553;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #C2C3C7;
}


.homepage-article h2 {
  margin-bottom: 0;
  margin-top: 0.2rem;
  padding: 4px;
}

a.homepage-article:hover h2 {
  color: #C2C3C7;
  text-decoration: underline;
}

.homepage-article img {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


@media only screen 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 3rem;  
  }

  header, footer {
    height: 4rem;
    font-size: 2rem;
  }

  main {
    width: 100%;
  }
  .homepage-article {
    width: 100%;
  }

}
