extends main.pug

block content
  div.homepage-article-container
    for article in docs.results 
      a.homepage-article(href!="/article/" + article.uid)
        div.title-image
          img(src=article.getImage('article.thumbnail').url)
        div.title-block
          h2= article.getStructuredText('article.title').asText()
