html
  head
    title Infinite Limit
    script(src='/static/index.js')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/open-iconic.css')
  body
    main.window
      header
        nav
          a(href='/')
            span.oi.icon(data-glyph='home')
          a(href='/')
            span.oi.icon(data-glyph='people')
        h1 Infinite Limit
      article
        block content
      footer
