doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block meta
      title Infinite Limit
    script(src='/static/index.js')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/style.css')
    include includes/analytics.html 
  body
    header
      h1 Infinite Limit
      h2 Looking between the pixels...
    nav
      ul
        li 
          a(href='/') Home
        li 
          a(href='') Articles
        li 
          a(href='about') About
        li
          a(href='about') Contact
    main
      article
        block content
    footer
      p
        | All content is available under the 
        a(href='https://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International
        |  license.
