html
  head
    title Infinite Limit
    script(src='/static/index.js')
    link(rel='stylesheet', href='/static/style.css')
  body
    main(class='window')
      header
        h1= title
      nav
      article
        block content
      footer
