html
  head
    title Infinite Limit
    script(src='/static/index.js')
    link(rel='stylesheet', href='/static/normalize.css')
    link(rel='stylesheet', href='/static/style.css')
  body
    main.window
      header
        nav
          // a(href='/') Home
        h1 Infinite Limit
      article
        block content
      footer
